{{- if .Values.controller.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "pinot.controller.fullname" . }}-config
  labels:
    app: {{ include "pinot.name" . }}
    chart: {{ include "pinot.chart" . }}
    component: {{ .Values.controller.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  pinot-controller.conf: |-
    controller.helix.cluster.name={{ .Values.cluster.name }}
    controller.port={{ .Values.controller.port }}
    {{- if .Values.controller.vip.enabled }}
    controller.vip.host={{ include "pinot.controller.fullname" . }}
    controller.vip.port={{ .Values.controller.service.port }}
    {{- end }}
    controller.zk.str={{ include "zookeeper.path" . }}
    pinot.set.instance.id.to.hostname=true
    controller.data.dir={{ .Values.controller.data.dir }}
    {{- if eq .Values.cluster.storage.scheme "gs" }}
    controller.enable.split.commit=true
    controller.local.temp.dir={{ .Values.controller.local.temp.dir }}
    pinot.controller.storage.factory.class.gs=org.apache.pinot.plugin.filesystem.GcsPinotFS
    pinot.controller.storage.factory.gs.projectId={{ .Values.cluster.storage.gs.projectId }}
    pinot.controller.storage.factory.gs.gcpKey={{ .Values.cluster.storage.gs.gcpKey }}
    pinot.controller.segment.fetcher.protocols=file,http,gs
    pinot.controller.segment.fetcher.gs.class=org.apache.pinot.common.utils.fetcher.PinotFSSegmentFetcher
    {{- end }}
{{- end }}
