{{- if .Values.servicemanager.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "pinot.servicemanager.fullname" . }}
  labels:
    app: {{ include "pinot.name" . }}
    chart: {{ include "pinot.chart" . }}
    component: {{ .Values.servicemanager.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ include "pinot.name" . }}
      release: {{ .Release.Name }}
      component: {{ .Values.servicemanager.name }}
  serviceName: {{ include "pinot.servicemanager.fullname" . }}
  replicas: {{ .Values.servicemanager.replicaCount }}
  updateStrategy:
    type: {{ .Values.servicemanager.updateStrategy.type }}
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        app: {{ include "pinot.name" . }}
        release: {{ .Release.Name }}
        component: {{ .Values.servicemanager.name }}
      annotations: {{ toYaml .Values.servicemanager.podAnnotations | nindent 8 }}
    spec:
      {{- if .Values.zookeeper.path }}
      initContainers:
        - name: create-zk-root-path
          image: "{{ .Values.zookeeper.image.repository }}:{{ .Values.zookeeper.image.tag }}"
          imagePullPolicy: {{ .Values.zookeeper.image.pullPolicy }}
          command: ["/bin/bash", "-cx"]
          args:
            - |
              # zookeper-shell used doesn't have proper mechanism to configure retries.
              # Retrying within helm as a workaround
              exitCode=1
              i=0
              while [ $i -le {{ .Values.zookeeper.retries }} ]; do
                bin/zookeeper-shell.sh ZooKeeper -server {{ include "zookeeper.url" . | quote }} create {{ .Values.zookeeper.path | quote }} ""
                if [ $? -eq 0 ]; then
                  exitCode=0
                  break
                fi
                sleep {{ .Values.zookeeper.retryInterval }}
                i=`expr $i + 1`
              done
              exit $exitCode
      {{- end }}
      containers:
        - name: pinot-servicemanager
          image: {{ include "pinot.servicemanager.image" .}}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: [
            "StartServiceManager",
            "-clusterName", {{ .Values.cluster.name | quote }},
            "-zkAddress", {{ include "zookeeper.path" . | quote }},
            "-port", {{ .Values.servicemanager.port | quote }},
            "-bootstrapConfigPaths",
            "/var/pinot/servicemanager/config/pinot-controller.conf",
            "/var/pinot/servicemanager/config/pinot-broker.conf",
            "/var/pinot/servicemanager/config/pinot-server.conf"
          ]
          env:
            - name: JAVA_OPTS
              value: "{{ .Values.servicemanager.jvmOpts }} -Dlog4j2.configurationFile={{ .Values.servicemanager.log4j2ConfFile }} -Dplugins.dir={{ .Values.servicemanager.pluginsDir }}"
          ports:
            - name: controller
              containerPort: {{ .Values.controller.port }}
              protocol: TCP
            - name: broker
              containerPort: {{ .Values.broker.port }}
              protocol: TCP
            - name: server-netty
              containerPort: {{ .Values.server.ports.netty }}
              protocol: TCP
            - name: server-admin
              containerPort: {{ .Values.server.ports.admin }}
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /var/pinot/servicemanager/config
            - name: pinot-servicemanager-storage
              mountPath: "{{ .Values.servicemanager.persistence.mountPath }}"
          livenessProbe:
            httpGet:
              path: /pinot-controller/admin
              port: {{ .Values.controller.port }}
            initialDelaySeconds: {{ .Values.servicemanager.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.servicemanager.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.servicemanager.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.servicemanager.livenessProbe.failureThreshold }}
          readinessProbe:
            httpGet:
              path: /pinot-controller/admin
              port: {{ .Values.controller.port }}
            initialDelaySeconds: {{ .Values.servicemanager.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.servicemanager.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.servicemanager.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.servicemanager.readinessProbe.failureThreshold }}
          resources: {{ toYaml .Values.servicemanager.resources | nindent 12 }}
      restartPolicy: Always
      serviceAccountName: {{ include "pinot.servicemanager.serviceAccountName" . }}
      volumes:
        - name: config
          configMap:
            name: {{ include "pinot.servicemanager.fullname" . }}-config
        {{- if not .Values.servicemanager.persistence.enabled }}
        - name: pinot-servicemanager-storage
          emptyDir: {}
        {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      {{- with .Values.servicemanager.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.servicemanager.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.servicemanager.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.servicemanager.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.servicemanager.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: pinot-servicemanager-storage
      spec:
        accessModes:
          - {{ .Values.servicemanager.persistence.accessMode | quote }}
        {{- if .Values.servicemanager.persistence.storageClass }}
        {{- if (eq "-" .Values.servicemanager.persistence.storageClass) }}
        storageClassName: ""
        {{- else }}
        storageClassName: {{ .Values.servicemanager.persistence.storageClass }}
        {{- end }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.servicemanager.persistence.size }}
  {{- end }}
{{- end }}
