{{- if .Values.broker.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "pinot.broker.fullname" . }}
  labels:
    app: {{ include "pinot.name" . }}
    chart: {{ include "pinot.chart" . }}
    component: {{ .Values.broker.name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ include "pinot.name" . }}
      release: {{ .Release.Name }}
      component: {{ .Values.broker.name }}
  serviceName: {{ include "pinot.broker.fullname" . }}
  replicas: {{ .Values.broker.replicaCount }}
  updateStrategy:
    type: {{ .Values.broker.updateStrategy.type }}
  podManagementPolicy: Parallel
  template:
    metadata:
      labels:
        app: {{ include "pinot.name" . }}
        release: {{ .Release.Name }}
        component: {{ .Values.broker.name }}
      {{- with .Values.broker.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      annotations:
        {{- toYaml .Values.broker.podAnnotations | nindent 8 }}
    spec:
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: pinot-broker
          image: {{ include "pinot.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: [
            "StartBroker",
            "-clusterName", "{{ .Values.cluster.name }}",
            "-zkAddress", {{ include "zookeeper.path" . | quote }},
            "-configFileName", "/var/pinot/broker/config/pinot-broker.conf"
          ]
          env:
            - name: JAVA_OPTS
              value: "{{ .Values.broker.jvmOpts }} -Dlog4j2.configurationFile={{ .Values.broker.log4j2ConfFile }} -Dplugins.dir={{ .Values.broker.pluginsDir }} -Djute.maxbuffer=4194304 {{ if .Values.broker.jmx.enabled }}{{ .Values.broker.jmx.opts }}{{ end }}"
            {{- with .Values.extraEnvs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          ports:
            - name: http-broker
              containerPort: {{ .Values.broker.port }}
              protocol: TCP
            {{- if .Values.broker.jmx.enabled }}
            - name: jmx
              containerPort: {{ .Values.broker.jmx.port }}
              protocol: TCP
            {{- end }}
            {{- with .Values.extraEnvs }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          volumeMounts:
            - name: config
              mountPath: /var/pinot/broker/config
            - name: log-config
              mountPath: /opt/pinot/conf/pinot-broker-log4j2.xml
              subPath: "pinot-broker-log4j2.xml"
            {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.broker.port }}
            initialDelaySeconds: {{ .Values.broker.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.broker.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.broker.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.broker.livenessProbe.failureThreshold }}
          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.broker.port }}
            initialDelaySeconds: {{ .Values.broker.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.broker.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.broker.readinessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.broker.readinessProbe.failureThreshold }}
          {{- with .Values.broker.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.broker.resources | nindent 12 }}
        {{- if .Values.broker.prometheus.jmx.enabled }}
        - name: prometheus-jmx-exporter
          image: "{{ .Values.broker.prometheus.jmx.image.repository }}:{{ .Values.broker.prometheus.jmx.image.tag }}"
          imagePullPolicy: "{{ .Values.broker.prometheus.jmx.image.pullPolicy }}"
          command:
            - java
            - -jar
            - jmx_prometheus_httpserver.jar
            - {{ .Values.broker.prometheus.jmx.port | quote }}
            - /etc/jmx-config/prometheus-pinot-broker.yml
          ports:
            - name: http-metrics
              containerPort: {{ .Values.broker.prometheus.jmx.port }}
          resources:
            {{- toYaml .Values.broker.prometheus.jmx.resources | nindent 12 }}
          volumeMounts:
            - name: jmx-config
              mountPath: /etc/jmx-config
        {{- end }}
      restartPolicy: Always
      serviceAccountName: {{ include "pinot.broker.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.broker.terminationGracePeriodSeconds }}
      volumes:
        - name: config
          configMap:
            name: {{ include "pinot.broker.fullname" . }}-config
        - name: jmx-config
          configMap:
            name: {{ include "pinot.broker.fullname" . }}-jmx-config
        - name: log-config
          configMap:
            name: {{ include "pinot.broker.fullname" . }}-log-config
        {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}
      {{- with .Values.broker.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.broker.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.broker.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.broker.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.broker.hostNetwork }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
{{- end }}
